
/* /////////////////////////// Video fond du site /////////////////////////// */
.video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    overflow: hidden; /* Cache tout débordement de la vidéo */

  }
  
  video {
    min-width: 100%; /* La largeur minimale de la vidéo remplit l'écran */
    min-height: 100%; /* La hauteur minimale de la vidéo remplit l'écran */
    object-fit: cover; /* Adapte la vidéo pour couvrir l'écran sans déformation */
  }

  /*/////////////////////////// Formulaire du livre d'or///////////////////////////*/
  .bookVideo-container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bookVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .bookVideo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent);
    z-index: 1;
    filter: blur(10px);
    animation: flicker 2s infinite; /* Scintillement */
    pointer-events: none;
  }
  
  .bookVideo video {
    position: relative;
    z-index: 2;
  }
  
  .overlay-container {
    position: absolute; /* Superpose le conteneur */
    z-index: 10; /* Au-dessus de la vidéo */
    display: flex; /* Aligne les enfants horizontalement */
    width: 90%; /* Occupe toute la largeur */
    height: 90%; /* Occupe toute la hauteur */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px; /* Espacement entre les éléments */
  }
  
  .message-display-container {
    flex: 0.3; /* 50% de la largeur de overlay-container */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Flexbox pour centrer les éléments */
    flex-direction: row;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    gap: 10px; /* Espacement entre les éléments */
  }
  .form-overlay {
    flex: 0.6; /* 50% de la largeur de overlay-container */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Largeur maximale pour le formulaire */
    display: flex; /* Flexbox pour centrer les éléments */
    flex-direction: column;
    gap: 20px; /* Espacement entre les éléments */
    text-align: center;
  
  }
  .btn-pink {
    background-color: #ff4dff; /* Rose vif */
    border-color: #ff4dff;
    color: white;
  }
  .btn-pink:hover {
    background-color: #e600e6; /* Rose foncé */
    border-color: #e600e6;
  }
  .message-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  /* ///////////////////////////Apparence Nav barre ///////////////////////////*/
  
.transparenceNav {
    background-color: rgba(255, 255, 255, 0.15) !important; /* Important pour passer au dessus de bootstrap */
  }

.textNeon {
    font-family: 'Arial', sans-serif; 
    color: #ffffff !important ; 
    text-shadow: 
      0 0 5px #ff00ff, 
      0 0 10px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 40px #ff1aff, 
      0 0 80px #ff4dff;
      
}
.mobile-nav .nav-link {
  color: white;
  
}

/* ///////////////////////////borne d'arcade de la page mon compte ///////////////////////////*/

.borneArcade{
    background-image: url(../Images/arcade.png) ;
    background-size: cover; /* L'image couvre toute la div */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Empêche les répétitions */
    
    height: 80vh; 
  
}
.secretlink{
  text-decoration: none;
}
.secret-sign{
  font-size: 4rem;
  font-weight: bold;
  color: #6f0a6f; /* Couleur de base du texte */
  text-align: center;
  height: 10vh;
   /* Ajout des effets de néon */
   text-shadow: 
   0 0 5px #ff00ff, 
   0 0 10px #ff00ff, 
   0 0 20px #ff00ff, 
   0 0 40px #ff00ff, 
   0 0 80px #ff00ff;

 /* Effet néon sur le contour de la div */
 border: 3px solid #ff00ff;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 
   0 0 5px #ff00ff, 
   0 0 10px #ff00ff, 
   0 0 20px #ff00ff, 
   0 0 40px #ff00ff, 
   0 0 80px #ff00ff;

 animation: flicker 2s infinite;
}

.neon-sign {
    font-size: 4rem;
    font-weight: bold;
    color: #6f0a6f; /* Couleur de base du texte */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 25vh;

  
    /* Ajout des effets de néon */
    text-shadow: 
      0 0 5px #ff00ff, 
      0 0 10px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 40px #ff00ff, 
      0 0 80px #ff00ff;
  
    /* Effet néon sur le contour de la div */
    border: 3px solid #ff00ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 
      0 0 5px #ff00ff, 
      0 0 10px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 40px #ff00ff, 
      0 0 80px #ff00ff;
  
    animation: flicker 2s infinite;
  }
  
  /* Animation de clignotement */
  @keyframes flicker {
    0%, 100% {
      text-shadow: 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 80px #ff00ff;
      box-shadow: 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 80px #ff00ff;
    }
    50% {
      text-shadow: 
        0 0 2px #ff00ff, 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff;
      box-shadow: 
        0 0 2px #ff00ff, 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff;
      opacity: 0.8;
    }
    70% {
      text-shadow: 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 60px #ff00ff;
      box-shadow: 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 60px #ff00ff;
      opacity: 1;
    }
  }

/* 
https://blog.dorianguilmain.com/comment-creer-un-effet-neon-en-css/
 */

 /*/////////////////////////// Module de connexion/////////////////////////// */ 
.ModalColor{
    background-color: #551055e2;
    color: #000000;
}

.ModalTransparent {
    opacity: 0.5;
}
.whiteText{
    color: #ffffff;
}
.ajoutBoutton{
    background-color: #ff4dffa7;

}
.sizeascii{
    font-size: 150%;
    margin-top: -7px;
}
/* ///////////////////////:Footer ///////////////////*/
.App {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
.footer {
    background-color: #000; /* Fond noir */
    color: white; /* Texte blanc */
    font-size: 0.9rem;
    margin: 0;
    margin-top: auto;
    
  }
  
  .footer a {
    color: white; /* Lien en blanc */
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ff00ff; /* Couleur rose vif au survol */
  }
/* /////////////////////// LA DEMANDE ///////////////////*/
.videmande {
  width: 332px; /* Prend toute la largeur disponible */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; /* Centrage sur l'axe vertical si nécessaire */
}



/* /////////////////// Galerie Invite /////////////////// */
.galeriePhotoInvite{
  max-width: 50%;
}
.icon-zone{
  display: flex;
  align-items: center ;
  justify-content: center;
  border: none;

}

.container-invite{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  
}
.ModalColor2{
  background-color: #a847a8e2;
  color: #f6f6f6;
}
.photo-large {
  max-width: 100%;
  max-height: 80vh; /* Limite la hauteur à 80% de la hauteur de la fenêtre */
  display: block; /* Centre l'image dans le modal */
  margin: 0 auto;
}
.modal-dialog {
  max-width: 60%; /* Limite la largeur maximale à 90% de l'écran */
  margin: auto; /* Centre horizontalement */
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Évite les espaces inutiles autour de l'image */
}

.photo-commentaires{
  display: flex;
  
  
}
.zone-commentaire{
  display: flex;
  flex-direction: column;
}

/*/////////////////////////// Home PAGE ////////////////////////// */

.carousel-photo {
  max-width: 100%;
  max-height: 500px; /* Définir une hauteur maximale */
  object-fit: contain; /* Permet d'ajuster l'image sans la déformer */
  margin: 0 auto; /* Centrer l'image dans son conteneur */
  min-height: 500px;
}

.carousel-item{
  padding-bottom: 50px;
 
}

/* ////////////////////PAGE INVITE && Photographe //////////////////*/
.icon{
  border-radius: 50%;
  margin-bottom: 2vh;
}
.container-invite {
  margin: 0 auto;
  padding: 20px;
}


.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-content: center; /* Centre les colonnes */
}

.photo-thumbnail {
  width: 100%; /* Remplit la colonne */
  aspect-ratio: 1; /* Assure un format carré */
  object-fit: cover; /* Coupe l'image pour remplir le carré */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.photo-thumbnail:hover {
  transform: scale(1.05); /* Zoom léger au survol */
}

.photo-grid:has(.photo-thumbnail:only-child) {
  grid-template-columns: 150px; /* Une seule colonne pour une seule photo */
  justify-content: center; /* Centre la photo */
}

.photo-grid.single-photo {
  grid-template-columns: 150px; /* Compatibilité JS */
  justify-content: center;
}



.photo-large {
  
  max-width: 60%;
  height: auto;
  object-fit: contain; /* Garde le ratio original de la photo */
}
.taille {
  height: 70vh;
}
.zone-commentaires{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 2vh;
}
.all-commentaires {
  max-height: 400px; /* Hauteur maximale pour la zone des commentaires */
  overflow-y: auto; /* Activer le défilement vertical */
  padding: 10px; /* Espacement interne */
  background-color: #f9f9f9; /* Couleur de fond pour la zone des commentaires */
  border: 1px solid #ddd; /* Bordure pour démarquer la zone */
  border-radius: 5px; /* Bordure arrondie */
}

.commentaire{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-90w{
  max-width: 90%;
  margin: 0 auto;

  
}
.modales{
  max-height: 95vh;
}

.photo-thumbnail-container {
  position: relative;
  display: inline-block;
}

.favoris-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.actived {
  color: red;
  border-color: #d923d9;
  background: fixed;
  background: linear-gradient(to bottom right, #d923d9, #ff00ff);
}



/* ////////////////////////////////////RESPONSIVE///////////////////////////////////////////////// */
@media screen and (max-width: 1000px)  {


    .borneArcade{
        background-image: url(../Images/arcade.png) ;
        
        background-position: center; /* Centrer l'image */
        background-repeat: no-repeat; /* Empêche les répétitions */
        background-size: contain;
        
        width: 100vw;
        font-size: 70%;
    
    }
    .moncompte{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .neon-sign{
        font-size: 30px;
        height: 12vh;
    }
    .ajoutBoutton{
     
        font-size: 80%;
    }
    .logout{
        display: flex;
        flex-direction: column;
       
    }
    .overlay-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .bookVideo{
        visibility: hidden;
    }
    .mobile-nav .nav-link {
      margin-bottom: 0px; /* Espacement entre les liens */
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      color: white; /* Couleur du texte */
      background-color: transparent; /* Couleur de fond */
      border: none; /* Supprimer le contour */
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
      
    }
    .mobile-nav .navbar-nav{
      display: flex;
      gap: 0 !important;
    
    }
    .photo-commentaires{
      flex-direction: column;

    }
    .zone-commentaires{
      max-width: 90%;
    }
    .tailleMobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      padding: 10px;
      
    }
    .mobileDemande{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .ImgDemande{
      width: 90vw;
    }




}

